<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div>下記内容にて、お客様からご予約がありました。</div>
    <hr />
    <div>[お申込内容]</div>
    <div><%= @reserve_frame.title %></div>
    <div>予約代表者の氏名: <%= @customer.full_name %></div>
    <div>予約代表者のメールアドレス: <%= @customer.email %></div>
    <div>予約代表者の電話番号: <%= @customer.phone_number %></div>
    <div>予約時間: <%= @reservation_datetime %></div>
    <div>お支払い方法: <%= @payment_method %></div>
    <% if @price.present? %>
      <div>料金: <%= @price %></div>
    <% end %>
    <div>予約人数: <%= @number_of_people %></div>
    <div>予約ステータス: <%= @reservation_status %></div>
    <hr/>
    <div>Copyright SquareEight</div>
  </body>
</html>
